<a href="https://colab.research.google.com/github/Ale-desu/edd_1310_2021/blob/master/1octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
escuela="fes aragón"
print(escuela)
print("----------")
edad= 13
estatura= 1.67
fumador = True
frase="""
esta es una frase concadenada
esto es para ver las diferencias entre
java y python
notese que es un tipo de dato string
"""
print(frase)
nombre= "juan"
nombre_c= "juan josé cardenas"

#tipos de datos python
dir()
help()

In [ ]:
#string int float bool list dict set

#print
con comas, 
con el signo mas +,
con fromat(),
con el operador f""

In [13]:
print(nombre, edad)
print(nombre + str(edad))
print("su nombre es", nombre,"y tiene",edad)
print("su nombre es {0} y su edad es de {1} anos" .format(nombre,edad))#la posición importa
print(f"Se llama {nombre} y tiene {edad} años")
print(nombre_c.capitalize(), end= " roto")

juan 13
juan13
su nombre es juan y tiene 13
su nombre es juan y su edad es de 13 anos
Se llama juan y tiene 13 años
Juan josé cardenas roto

#string
se maneja como un arreglo  (c o java) o lista (python)

In [32]:
telefono="huawei mate 30 pro"
print(telefono[7:11:1])
facultad="     facultad de estudios superiores aragón     "
print(facultad.count("s")) #cuenta el no. de elementos especificos
print(facultad.find("a"))
print(len(facultad), facultad.strip())
print("--------------------------------")

colores=[rojo, verde]
otra=colores.copy()
print(colores)
print(otra)
otra.append("rosa")
print(colores)
print(otra)

mate
4
6
48 facultad de estudios superiores aragón

#slicing
(inicia: llega:cambio)

#caracter de escape
\n salto de linea,
\t tabulador,
\a beep,
se imprimen tal cual {\\"
\\' }

#notas
el str()convierte a string 
el print con + concadena
.format  es de string

#intro python 3
##tipo dinámico
escuela="fes aragón"'